/* HTML Selectors */
article {
    margin: 10px;
}

body {
    font-family: 'Press Start 2P', cursive;
}

*{
    box-sizing: border-box;
}
  
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;

}
 
div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

img {
    width: 80%;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

main {
    text-align: center;
}